<p id="notice"><%= notice %></p>

<%= render "layouts/nav" %>

<div id="main">
	<h2>Authors/Artists</h2>
	<ul>
		<% @composers.each do |composer| %>
			<li><%= link_to composer.full_name, composer_path(composer) %></li>
		<% end %>
	</ul>
	
<%= link_to 'New Author/Artist', new_composer_path %>
</div>

