<div id="welcome_nav_wrapper">
	<%= link_to "Books", books_path, :class => 'nav_element', :id => 'welcome_books' %>
	<%= link_to image_tag("logo.png", :id => 'welcome_logo'), root_path %>
	<%= link_to "Music", musics_path, :class => 'nav_element', :id => 'welcome_music' %>
</div>