<%= render "layouts/nav" %>

<div id="main">
	<h2>Edit <%= @music.title %></h2>
	<%= render "form" %>
	<%= button_to "Delete Music", music_path(@music), method: :delete, data: {confirm: "Really delete this album? This action cannot be undone"}, :class => "red_button" %>
</div>