<div id="nav_wrapper">
	<%= link_to "Books", books_path, :class => 'nav_element', :id => 'nav_books' %>
	<%= link_to image_tag("logo.png", :id => 'nav_logo'), root_path %>
	<%= link_to "Music", musics_path, :class => 'nav_element', :id => 'nav_music' %>
</div>